jaxb-introduction/schemas/src/main/resources/schemas/my-schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">

    <xs:element name="Message">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="To" type="xs:string"/>
                <xs:element name="From" type="xs:string"/>
                <xs:element name="Heading" type="xs:string"/>
                <xs:element name="Body" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema> 