Java-related/soap-learning-with-spring/soap-ui/countries.wsdl


<!-- I copied this wsdl file from the running app. The .wsdl file does not exist in the source code. -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">

            <!-- Read (singular) -->
            <xs:element name="getCountryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getCountryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="country" type="tns:country"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Create -->
            <xs:element name="createCountryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="country" type="tns:country"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createCountryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="createdCountry" type="tns:country"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Update -->
            <xs:element name="updateCountryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nameOfCountryToUpdate" type="xs:string"/>
                        <xs:element name="updatedCountry" type="tns:country"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="updateCountryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="updatedCountry" type="tns:country"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Delete -->
            <xs:element name="deleteCountryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nameOfCountryToDelete" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteCountryResponse" type="xs:string"/>

            <!-- Types -->
            <xs:complexType name="country">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="population" type="xs:int"/>
                    <xs:element name="capital" type="xs:string"/>
                    <xs:element name="currency" type="tns:currency"/>
                </xs:sequence>
            </xs:complexType>

            <xs:simpleType name="currency">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="GBP"/>
                    <xs:enumeration value="EUR"/>
                    <xs:enumeration value="PLN"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateCountryRequest">
        <wsdl:part element="tns:updateCountryRequest" name="updateCountryRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCountryResponse">
        <wsdl:part element="tns:getCountryResponse" name="getCountryResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCountryRequest">
        <wsdl:part element="tns:getCountryRequest" name="getCountryRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteCountryResponse">
        <wsdl:part element="tns:deleteCountryResponse" name="deleteCountryResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteCountryRequest">
        <wsdl:part element="tns:deleteCountryRequest" name="deleteCountryRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createCountryRequest">
        <wsdl:part element="tns:createCountryRequest" name="createCountryRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateCountryResponse">
        <wsdl:part element="tns:updateCountryResponse" name="updateCountryResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createCountryResponse">
        <wsdl:part element="tns:createCountryResponse" name="createCountryResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CountriesPort">
        <wsdl:operation name="updateCountry">
            <wsdl:input message="tns:updateCountryRequest" name="updateCountryRequest">
            </wsdl:input>
            <wsdl:output message="tns:updateCountryResponse" name="updateCountryResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCountry">
            <wsdl:input message="tns:getCountryRequest" name="getCountryRequest">
            </wsdl:input>
            <wsdl:output message="tns:getCountryResponse" name="getCountryResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteCountry">
            <wsdl:input message="tns:deleteCountryRequest" name="deleteCountryRequest">
            </wsdl:input>
            <wsdl:output message="tns:deleteCountryResponse" name="deleteCountryResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createCountry">
            <wsdl:input message="tns:createCountryRequest" name="createCountryRequest">
            </wsdl:input>
            <wsdl:output message="tns:createCountryResponse" name="createCountryResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CountriesPortSoap11" type="tns:CountriesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="updateCountry">
            <soap:operation soapAction=""/>
            <wsdl:input name="updateCountryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateCountryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCountry">
            <soap:operation soapAction=""/>
            <wsdl:input name="getCountryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCountryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteCountry">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteCountryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteCountryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createCountry">
            <soap:operation soapAction=""/>
            <wsdl:input name="createCountryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createCountryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountriesPortService">
        <wsdl:port binding="tns:CountriesPortSoap11" name="CountriesPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>