soap-learning-with-spring/soap-ui/calculator.wsdl


<!-- I copied this wsdl file from the running app. The .wsdl file does not exist in the source code. -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://noitcereon.com/calculator" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://noitcereon.com/calculator" targetNamespace="http://noitcereon.com/calculator">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://noitcereon.com/calculator">
    <xs:element name="addRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="numberInputs" type="tns:numberInputs"/> <!-- The tns prefix is a namespace reference. It points to xmlns:tns="http://noitcereon.com/calculator" -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="calculationResult" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="numberInputs">
        <xs:sequence>
            <xs:element name="firstNumber" type="xs:decimal"/>
            <xs:element name="secondNumber" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addResponse">
    <wsdl:part element="tns:addResponse" name="addResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRequest">
    <wsdl:part element="tns:addRequest" name="addRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CalculatorPort">
    <wsdl:operation name="add">
      <wsdl:input message="tns:addRequest" name="addRequest">
    </wsdl:input>
      <wsdl:output message="tns:addResponse" name="addResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorPortSoap11" type="tns:CalculatorPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="add">
      <soap:operation soapAction=""/>
      <wsdl:input name="addRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorPortService">
    <wsdl:port binding="tns:CalculatorPortSoap11" name="CalculatorPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>